* {
    margin: 0;
}

.launch-loader {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0;
    margin: auto;
}

.app__section {
    display: flex;
    align-items: center;
    width: 100vw;
    
}

.app__container {
    width: 50%;
    align-items: center;
}

.app__container > img {
    width: 40em;
    padding-top: 10px;
    border-radius: 10px;
}


/* Media Queries */

@media all and (min-width: 1024px) {
    .app__section {
        display: flex;
        padding-left: 80px;
    }
}

@media all and (min-width: 768px) {
    .app__section {
        display: flex;
        padding-left: 50px;
    }
}

@media all and (min-width: 425px) {
    .app__section {
        display: flex;
        padding-left: 50px;
    }

    .app__container > img {
        width: 23em;
    }
}