* {
    margin: 0 auto;
}

/* Directive Styles */
.launchItem__section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    width: 80vw;
    height: 20vh;
}

.launchItem__container {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    width: 40em;
    height: 90px;
    padding: 10px;
}

.launchItem__title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.launchItem__title > h4  {
    display: flex-start;
    font-size: 20px;
    padding-left: 10px;
}

.launchItem__title > span {
    display: flex-start;
    font-size: 20px;
    padding-left: 10px;
}

.launchItem__title > p {
    display: flex-end;
    padding-left: 20px;
}

.launchItem__details {
    padding-top: 20px;
    padding-right: 20px;
}


/* Media Queries */ 
@media all and (max-width: 425px) {
    .launchItem__section {
        display: flex;
        width: 50vw;
        height: 20vh;
    }

    .launchItem__container {
        display: flex; 
        width: 50em; 
    }

    .launchItem_title {
        display: flex-start;
    }

    .launchItem__title > h4 {
        font-size: 15px; 
    }

    .launchItem__title > span {
        font-size: 10px;
    }

    .launchItem_title > p {
        display: flex-start; 
        font-size: 5px;
    }

    .launchItem_details {
        font-size: 10px;
    }
}