* {
    margin: 0;
}

/* Loading Spinner */
.launch__loader {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0;
    margin: auto;
}

.launch__section {
    display: flex;
}

.launches__title {
    display: flex;
}


/* Media Queries */ 
@media all and (min-width: 425px) {
    .launch__title {
        font-size: 10px;
    }
}

